/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do menu */
nav {
    background-color: 	#9400D3;
    padding: 10px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: white;
}

/* Estilo das seções */
section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilo para tornar a página mais legível */
body {
    font-family: Arial, sans-serif;
    display: flex;
}




.container {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
padding: 20px;
}

.card {
width: 260px;
height: 200px;
background: #FF00FF;
border-radius: 14px;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: 600;
color: #FFFFFF;
font-family: sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,0.12);
transition: transform 0.2s ease; 
}


.card:hover {
transform: translateY(-6px);
}











.logo{
    display: flex;
    justify-content: flex-start;
}
.logo img,
.logo div{
    padding: 10px
}


  .slogan {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
	
	